.person-summary {
  padding: 20px; }
  .person-summary:not(:last-child) {
    border-bottom: 1px solid lightgray; }
  .person-summary .photo {
    width: 130px;
    height: 160px;
    border: 1px solid lightgray;
    margin: 0 auto; }
    @media (min-width: 544px) {
      .person-summary .photo {
        display: inline-block;
        margin: 0; } }
    .person-summary .photo img {
      width: 130px;
      height: 160px; }
  .person-summary .details {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px; }
    .person-summary .details .name, .person-summary .details .role, .person-summary .details .school, .person-summary .details .office, .person-summary .details .phone, .person-summary .details .email {
      display: block; }
    .person-summary .details .name {
      font-size: 24px; }
    .person-summary .details .role {
      font-size: 20px;
      font-style: italic; }
    .person-summary .details .office {
      margin-top: 20px; }

.person .photo {
  float: left;
  margin-right: 20px; }
  .person .photo img {
    width: 195px;
    height: 260px; }

.person .details {
  float: left;
  max-width: 600px;
  margin-right: 50px; }
  .person .details .role {
    font-size: 32px; }
  .person .details .school, .person .details .office, .person .details .phone, .person .details .email, .person .details .web {
    display: block; }

.person .related {
  float: left;
  width: 300px;
  padding: 10px;
  border: 1px solid lightgray; }
  .person .related h2 {
    margin-top: 10px; }
  .person .related a {
    display: block;
    padding: 5px; }

.person .about {
  display: block;
  clear: both;
  padding-top: 20px; }
  .person .about > div h2 {
    font-size: 24px;
    cursor: pointer; }
    .person .about > div h2:before {
      font-family: "FontAwesome";
      content: "\f146";
      margin-right: 10px; }
  .person .about > div.expandable > .content {
    display: none; }
  .person .about > div.expandable > h2:before {
    content: "\f0fe"; }
  .person .about .content {
    margin-left: 25px;
    padding-left: 25px;
    border-left: 4px solid lightgray; }

.biblio_squeezeBox .biblio_summary .icon {
  margin-right: 5px;
  font-family: "FontAwesome"; }

.biblio_squeezeBox .biblio_summary.biblio_expand .icon:after {
  content: "\f146"; }

.biblio_squeezeBox .biblio_summary.biblio_collapse .icon:after {
  content: "\f0fe"; }

.biblio_squeezeBox .biblio_expand {
  display: block; }

.biblio_squeezeBox .biblio_collapse {
  display: none; }

.biblio_squeezeBox .biblio_summary {
  display: block;
  cursor: pointer; }

.recaptcha-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none; }
  .recaptcha-modal #recaptcha {
    height: 77px;
    width: 304px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -152px; }
